.tasks-container {
  padding: 0.4rem;
  min-width: 300px;
  max-width: 500px;

  flex: 1;
  text-align: center;

  background-color: rgba(240, 248, 255, 0.424);
  transition: all 0.4s ease-in-out;
  color: aliceblue;

  position: relative;
}

.tasks-container:hover {
  box-shadow: 0 0 15px rgb(19, 146, 249);
}

.mainTitle {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  cursor: pointer;
}

.delete-container {
  padding: 0.5rem;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 1rem;

  position: absolute;
  right: 0;
  top: 0;
}

.bin {
  color: rgb(217, 12, 12);
  font-size: 1.1rem;

  cursor: pointer;
}

.edit {
  color: rgb(253, 253, 253);
  font-size: 1.1rem;

  cursor: pointer;
}

.textarea {
  border: none;
  background-color: transparent;
  resize: none;

  width: 95%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
  /* Set box-sizing to border-box to include padding in the height calculation */
  box-sizing: border-box;
  /* Remove vertical scrollbar */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;
}

.tasks {
  padding: 1rem;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-align: left;
  background-color: #175ffaa3;
}
