.task-container {
  padding: 0.5rem;
  background-color: #2452a8;

  border-radius: 12px;

  position: relative;
  cursor: grab;
  user-select: none;

  box-shadow: 0px 9px 15px -4px rgb(0, 0, 0);

  transition: all 0.4s ease;

  z-index: 5;
}

.task-container:hover {
  scale: 1.05;
  box-shadow: 0px 9px 15px -4px rgb(254, 241, 215);
  background: rgb(0, 0, 0) !important;
}

.task-container:hover .title {
  color: rgb(232, 137, 21) !important;
}

.task-container:hover .description {
  color: white !important;
}
.task-container:hover .task-container::after {
  opacity: 0;
}

.title {
  color: rgb(232, 137, 21);
}

.title::first-letter {
  text-transform: uppercase;
}

.description {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.edit-delete {
  padding: 0.5rem;

  border-radius: 0 12px 0 0;

  display: none;
  justify-content: center;

  flex-wrap: wrap;
  gap: 1rem;

  position: absolute;
  right: 0;
  top: 0;

  background-color: #c7cfde31;

  cursor: auto;
}
.task-container:hover .edit-delete {
  display: flex;
}

.bin {
  color: rgb(217, 12, 12);
  font-size: 1.1rem;

  cursor: pointer;
}

.edit {
  color: rgb(253, 253, 253);
  font-size: 1.1rem;

  cursor: pointer;
}

.btns {
  display: flex;
  gap: 1rem;
}

.updateBtn:active {
  --clr-neon: rgb(54, 239, 37);
}

.textarea {
  border: none;
  background-color: transparent;
  resize: none;

  width: 95%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
  /* Set box-sizing to border-box to include padding in the height calculation */
  box-sizing: border-box;
  /* Remove vertical scrollbar */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;
}

/* Hide scrollbar in Webkit based browsers */
.textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
