.login-container {
  min-height: calc(100vh - 4.5rem);
  padding: 1.5rem 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  flex: 1;

  background: linear-gradient(to bottom, black, #051cb192 30%, aliceblue);
  color: rgb(255, 255, 255);
  transition: all 0.4s ease;
}

.link {
  font-weight: 500;
  color: #051cb1fd;
}

.link:active {
  color: rgb(0, 0, 0);
}

.btn {
  --clr-neon: #051cb1b1;
  --clr-bg: rgba(108, 106, 149, 0.485);
  color: rgb(255, 255, 255);
}

.btn:hover {
  --clr-neon: #0c2cffb1;
}

.btn:active {
  --clr-neon: #0cffa2b1;
  --clr-bg: rgba(160, 159, 183, 0.485);
}

.err {
  padding: 0.8rem;
  background-color: rgb(247, 214, 218);
  border-radius: 5px;
  color: rgb(89, 46, 50);
}

@media (min-width: 30rem) {
  .login-container {
    padding: 1.5rem 5rem;
  }
}
